@import 'tailwindcss';

@theme {
  --color-primary-white: #f9fafb;
  --color-gachon-blue: #014f9e;
  --color-gachon-light-blue: #b8d6f4;
  --color-middle-blue: #6998d1;
  --color-mudang-red: #dc1b1b;
  --color-gachon-orange: #f1ab23;
}
